@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Global */
/* 변수로 설정한것 :root */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #00e069;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0px;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Nabar */
#navbar {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: end;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
.navbar__meun {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
}

.navbar__meun__item {
  padding: 5% 15%;
  margin: 5px 4px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}
.navbar__meun__item.active {
  border: 1px solid var(--color-white);
  background-color: #00e06836;
}
.navbar__meun__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-green);
  border-radius: var(--size-border-radius);
}

.navbar__toogle-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */

#home {
  position: relative;
  height: 90vh;
  background-color: var(--color-black);
}
.home__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 685px;
}
.home__title {
  margin-bottom: 30px;
  font-size: 56px;
}
.home__container span {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}
.home__title,
.home__description {
  color: var(--color-white);
}
.home__container span {
  color: white;
}
.top-border {
  width: 35%;
  height: 1px;
  border-top: 1px solid rgb(216, 216, 216);
}
.home__description {
  color: var(--color-green);
  font-weight: var(--weight-regular);
  font-size: var(--font-medium);
  padding-top: 10px;
  letter-spacing: 1px;
}
.home__contact {
  color: rgb(226, 226, 226);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding: 10px 15px;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  margin-bottom: 50px;
}

.home__contact:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

/* About */
#about {
  height: 75vh;
}
.about__container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  padding-left: 100px;
}
.about-text {
  width: 55%;
  padding-top: 100px;
  margin-bottom: 50px;
}
.about-text p {
  font-family: "S-CoreDream-3Light";
  line-height: 1.8em;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}
.about-bottom {
  display: flex;
  justify-content: space-between;
}
.about-license {
  width: 60%;
}
.about-license .title {
  font-size: 65px;
  margin-bottom: 50px;
  font-weight: bold;
  color: #424242;
}
.about-license .list {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.about-license .list > li {
  font-family: "S-CoreDream-3Light";
}
.about-license .list .data {
  margin-right: 50px;
  font-weight: 600;
}
.about-title .top-border {
  width: 100%;
  border-top: 1px solid black;
}
.about-title h1 {
  font-size: 260px;
  color: #303030;
}
/* Skill */

#skills {
  height: 80vh;
}
.skills__container {
  display: flex;
  align-items: center;
  background: url(imgs/skills/skills_bg.png) no-repeat center center;
  background-size: cover;
  height: 100%;
}
.black-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 5% 20%;
}
.icon-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
}
.skills-icon {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills-icon li {
  font-size: 100px;
}

.skills-percent {
  width: inherit;
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.counter:after {
  content: "%";
  margin-left: 5px;
}
.icon-box:nth-child(1) .skills-percent li:nth-of-type(2),
.icon-box:nth-child(1) .skills-percent li:nth-of-type(3),
.icon-box:nth-child(2) .skills-percent li:nth-of-type(2) {
  margin-right: 3%;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  position: relative;
  border: 1px solid var(--color-dark-white);
  box-sizing: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: pink;
  color: var(--color-white);
}

.category__btn.selected.category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0px;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translatey(25px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-top: 8px;
  transform: translateX(-50%);
}

/* Other Works */
#other {
  height: 95vh;
}
.section__other {
  width: 100%;
  height: inherit;
  display: flex;
  padding: 5% 7%;
  background-color: var(--color-black);
}
.other-title {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.other-title h1 {
  font-size: 65px;
  margin-bottom: 30px;
  color: white;
}
.other-title span {
  font-size: 26px;
  margin-bottom: 15px;
  color: var(--color-green);
}
.other-title p {
  color: var(--color-green);
}
.other-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 650px;
}
.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.box:before {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  top: 230px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.box:hover:before,
.box:hover .box-inner {
  top: 0;
}
.box:hover .box-inner h1,
.box:hover .box-inner .title i {
  color: #00e069;
}
.box:hover .box-inner .title i {
  transform: rotate(45deg);
}
.top .box:first-child {
  background: url(imgs/otherworks/other_01.png) no-repeat center center;
}
.top .box:nth-child(2) {
  background: url(imgs/otherworks/other_02.png) no-repeat center center;
}
.top .box:nth-child(3) {
  background: url(imgs/otherworks/other_03.png) no-repeat center center;
}
.bottom .box:first-child {
  background: url(imgs/otherworks/other_04.png) no-repeat center center;
}
.bottom .box:nth-child(2) {
  background: url(imgs/otherworks/other_05.png) no-repeat center center;
}
.bottom .box:nth-child(3) {
  background: url(imgs/otherworks/other_06.png) no-repeat center center;
}
.box-inner {
  position: absolute;
  top: 230px;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: white;
  transition: 0.5s;
}
.box .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box .title i {
  transform: rotate(-45deg);
  transition: 0.5s;
}
.box-inner h1 {
  font-size: 18px;
  color: white;
}
.box-inner p:first-child {
  font-family: "S-CoreDream-3Light";
}
.box-inner p {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(212, 212, 212);
}
.box-inner button {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(197, 197, 197);
  transition: 0.5s;
}
.box-inner button:hover {
  color: #ffffff;
  letter-spacing: 1.2px;
}
/* Contact */

#contact {
  background-color: var(--color-black);
}
.section__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  border-top: 1px solid rgb(145, 145, 145);
  margin: 0 50px;
}

.contact__title {
  margin: 8px 0px;
  font-weight: 500;
  font-size: 45px;
  color: rgb(214, 214, 214);
}
.contact__email {
  font-size: 24px;
  font-weight: 400;
  color: rgb(214, 214, 214);
}
.contact__links {
  color: rgb(255, 255, 255);
  font-size: var(--font-large);
  margin: 24px 0px;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-green);
}

.contact__rights {
  color: rgb(214, 214, 214);
  font-size: 18px;
}
/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-green);
  border-radius: 50%;

  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toogle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__meun {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__meun.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0px;
    width: 100%;
    box-sizing: border-box;
  }

  .project {
    flex-grow: 1;
  }
  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }
  .testimonial {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimonial__speach-bubble {
    order: 1;
  }
  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0px;
    margin-bottom: 8px;
  }
  .arrow-up {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
