@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Global */
/* 변수로 설정한것 :root */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #ffef16;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  cursor: default;
}
body.active {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Nabar */
#navbar {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: end;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  opacity: 0;
}
.navbar__meun {
  color: var(--color-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  transition: 0.3s;
  /* display: none; */
}

.navbar__meun__item {
  padding: 15px 25px;
  margin: 5px 4px;
  cursor: pointer;
  text-align: center;
  border-radius: var(--size-border-radius);
  font-size: 18px;
  font-weight: 600;
}
.navbar__meun__item.active {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar__meun__item:hover {
  background-color: rgb(0, 0, 0);
  border-radius: var(--size-border-radius);
}
.navbar__toogle-btn {
  position: absolute;
  right: 32px;
  top: 24px;
  display: none;
}
.navbar__toogle-btn i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
/* Home */

#home {
  position: relative;
  height: 75vh;
  /* background-color: var(--color-black); */
  background-color: #070707;
}
.home__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 685px;
}
.home__title {
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
}
.home__container span {
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 20px;
  color: inherit;
}
.home__description {
  color: var(--color-green);
  font-weight: var(--weight-regular);
  font-size: var(--font-medium);
  padding-top: 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.home__contact {
  color: rgb(226, 226, 226);
  font-size: 20px;
  font-weight: var(--weight-bold);
  padding: 11px 25px;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  transition: 0.3s;
}

.home__contact:hover {
  background-color: var(--color-green);
  color: black;
}

/* Mouse Wheele */
.mouse {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(68, 68, 68);
  width: 42px;
  height: 55px;
  border-radius: 30px;
  right: 35px;
  bottom: 25px;
}
.mouse i {
  position: absolute;
  color: rgb(68, 68, 68);
  font-size: 20px;
  animation: wheele 1.5s linear infinite;
}
@keyframes wheele {
  0% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

/* About */
#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}
.about-text {
  width: 55%;
  margin-bottom: 80px;
  margin-top: 20px;
}
.about-text p {
  font-family: "S-CoreDream-3Light";
  line-height: 1.8em;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.about-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}
.about-license .title,
.about-career .title {
  font-size: 32px;
  font-weight: bold;
}
.about-license .list,
.about-career ul.list {
  display: flex;
}
.about-license .data,
.about-career .data {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
  margin-right: 25px;
  font-family: "S-CoreDream-3Light";
  color: #3b3b3b;
  font-weight: 600;
}
ul.list li:last-child,
ul.content li:first-child {
  font-size: 20px;
  font-family: "S-CoreDream-3Light";
  font-weight: bold;
  margin-bottom: 5px;
}
.about-career .content .text {
  font-size: 16px;
  font-weight: lighter;
}
.about-title {
  margin-top: 72px;
}
.about-title .top-border {
  width: 100%;
  border-top: 1px solid black;
}
.about-title h1 {
  font-size: 200px;
  color: #303030;
}

/* Skill */
#skills {
  height: 80vh;
}
.skills__container {
  display: flex;
  align-items: center;
  background: url(imgs/skills/skills_bg.png) no-repeat center center;
  background-size: cover;
  height: 100%;
}
.black-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 0 240px;
  padding-top: 60px;
}
.icon-boxs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.skills-icon {
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.skills-icon i,
.skills-icon img {
  font-size: 80px;
  margin-bottom: 20px;
}
.counter {
  font-size: 35px;
  margin-bottom: 50px;
}
.counter:after {
  content: "%";
  margin-left: 5px;
}

/* Work */
#work .section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}
.work__categories {
  margin: 40px;
}
.category__btn {
  position: relative;
  border: 1px solid var(--color-dark-white);
  box-sizing: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: black;
  color: var(--color-white);
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
  margin: 0 5%;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translatey(25px);
}
.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 350px;
  margin: 2px;
  background-color: var(--color-light-white);
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.85;
  transform: translateY(0px);
}
.project__description {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}
.project__description h3 {
  color: var(--color-green);
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 26px;
}
.project__description h3.center {
  text-align: center;
  margin-bottom: 50px;
}
.project__description p {
  color: white;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 20%;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: white;
  padding: 10px 18px;
  border: 1px solid white;
  font-size: 18px;
  border-radius: 5px;
  margin: 0 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  color: black;
}
/* Other Works */
#other {
  /* height: 95vh; */
}
.section__other {
  width: 100%;
  height: inherit;
  display: flex;
  padding: 5% 8%;
  padding-left: 3%;
  background-color: var(--color-black);
}
.other-title {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.other-title h1 {
  font-size: 65px;
  margin-bottom: 30px;
  color: white;
}
.other-title span {
  font-size: 26px;
  margin-bottom: 15px;
  color: var(--color-green);
}
.other-title p {
  color: var(--color-green);
}
.other-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding-right: 20px;
}
.top {
  margin-bottom: 40px;
}
.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  position: relative;
  width: 345px;
  height: 365px;
  overflow: hidden;
}
.box:before {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  top: 300px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.box:hover:before,
.box:hover .box-inner {
  top: 0;
}
.box:hover .box-inner h1,
.box:hover .box-inner .title i {
  color: var(--color-green);
}
.box:hover .box-inner .title i {
  transform: rotate(45deg);
}
.top .box:first-child {
  background: url(imgs/otherworks/other_01.png) no-repeat center center;
}
.top .box:nth-child(2) {
  background: url(imgs/otherworks/other_02.png) no-repeat center center;
}
.top .box:nth-child(3) {
  background: url(imgs/otherworks/other_03.png) no-repeat center center;
}
.bottom .box:first-child {
  background: url(imgs/otherworks/other_04.png) no-repeat center center;
}
.bottom .box:nth-child(2) {
  background: url(imgs/otherworks/other_05.png) no-repeat center center;
}
.bottom .box:nth-child(3) {
  background: url(imgs/otherworks/other_06.png) no-repeat center center;
}
.box-inner {
  position: absolute;
  top: 290px;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px;
  transition: 0.5s;
}
.box .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .title i {
  transform: rotate(-45deg);
  transition: 0.5s;
  font-size: 28px;
  color: rgb(224, 224, 224);
}
.box-inner h1 {
  font-size: 24px;
  margin: 0;
  color: rgb(224, 224, 224);
  font-weight: 500;
}
.box-inner p:first-of-type {
  width: 100%;
  font-family: "S-CoreDream-3Light";
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}
.box-inner p {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(212, 212, 212);
  line-height: 1.6em;
}

/* other works detail-btn  */
#other .detail-btn {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.644);
  transition: 0.5s;
}
#other .detail-btn:hover {
  color: var(--color-green);
  letter-spacing: 1.2px;
}
#other .detail-btn:active {
  transform: scale(0);
}
#other .detail-btn i {
  margin-right: 10px;
}

/* Contact */
#contact {
  background-color: var(--color-black);
}
.section__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  border-top: 1px solid rgb(145, 145, 145);
  margin: 0 50px;
}

.contact__title {
  margin: 8px 0px;
  font-weight: 500;
  font-size: 45px;
  color: rgb(214, 214, 214);
}
.contact__email {
  font-size: 24px;
  font-weight: 400;
  color: rgb(214, 214, 214);
}
.contact__links {
  color: rgb(255, 255, 255);
  font-size: var(--font-large);
  margin: 24px 0px;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-green);
}

.contact__rights {
  color: rgb(214, 214, 214);
  font-size: 18px;
}
/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: rgb(19, 19, 19);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}
.arrow-up:active {
  transform: scale(0.2);
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* report :  works  */
.other-modal {
  display: flex;
  flex-direction: column;
}

/* Feather light Custom CSS */
.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  max-height: 100%;
  background: #fff;
  cursor: auto;
  white-space: normal;
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-inner {
  display: block;
}
.featherlight iframe {
  border: none;
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 80px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  padding: 0;
  font-size: 40px;
  transition: 0.3s;
}
.featherlight .featherlight-close-icon:hover {
  color: var(--color-green);
}
